# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/front/FileContentIndex/c091944a-3707-498c-9077-377a2856bc30.vsidx
/.vs/front/FileContentIndex/09818e77-64ee-4c16-a957-70466a7fb25c.vsidx
/.vs/front/FileContentIndex/b6988b26-a547-4216-9336-680cf4ab4be1.vsidx
/.vs/front/FileContentIndex
